<% include ../partials/header %>
<title>All Bills</title>
</head>
<body>
<% include ../partials/login-navbar.ejs %>
<div class="container">
  <h1 class="jumbotron">Welcome <%= user.firmName %></h1>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">
        Invoices
        <span class="pull-right">
          <strong><%= user.bills.length %></strong> Entries
        </span>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Reciever</th>
          <th class="text-center">Invoice No</th>
          <th class="text-center">Invoice Date</th>
          <th  class="text-center">Total Amount</th>
          <th class="text-center">Type</th>
          <th class="text-center">More Info</th>
        </tr>
      </thead>
      <tbody class="">
        <% for(let i = 0; i < user.bills.length; i++) { %>
          <%
            let date = user.bills[i].invoice.date.getDate();
            let month = user.bills[i].invoice.date.getMonth() + 1;
            let year = user.bills[i].invoice.date.getFullYear();
            let fullDate = date + "-" + month + "-" + year;
          %>

          <tr class="text-center">
            <td> <%= i + 1 %> </td>
            <td> <%= user.bills[i].reciever.firmName %> </td>
            <td> <%= user.bills[i].invoice.number %> </td>
            <td> <%= fullDate %> </td>
            <td> <%= user.bills[i].invoiceTotal.value %></td>
            <td> <%= user.bills[i].invoice.type.toUpperCase() %> </td>
            <td> <a href="/bills/<%= user.bills[i]._id %>" target="_blank" class="btn btn-warning"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </td>
          </tr>

        <% } %>
      </tbody>
    </table>
  </div>
</div>



<% include ../partials/footer %>