<% include ../partials/header.ejs %>
<% include ../navbar.ejs %>
<style>
    .totals>td{
        padding-bottom: 0.5em;
    }
    .space{
        margin: 1em 0em 1em 0em;
    }
</style>
<hr>
<div class="row">
    <div class="col-md-6">
        <h2 class="jumbotron text-center">Invoice Details</h2>
    </div>
    <div class="col-md-6">
        <br>
        <br>
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label" for="invoiceNo">Invoice Number: </label>
                <input type="text" size="30" class="form-control" id="invoiceNo" name="invoiceNo" value="123" disabled>
            </div>
        </div>
        <br>
        <div class="form-inline">
            <!-- <div class="form-group">
                <label class="control-label" for="invoiceNo">Bill Date: </label>
                <input type="text" class="form-control" id="invoiceNo" name="invoiceNo" disabled>
            </div>
            <div class="form-group">
                <label class="control-label" for="invoiceNo">Bill Time: </label>
                <input type="text" class="form-control" id="invoiceNo" name="invoiceNo" disabled>
            </div> -->
            
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

<hr>

<div class="container-fluid" id="billHeader">

    <div class="row">
        <div class="col-md-6">
            <h3>Bill from:</h3>
            <hr>
        </div>
        <div class="col-md-6">
            <h3>Bill to:</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><strong id="userCompanyName"><%= user.company_name %></strong></h3>
            <h4 class="border"><strong>GSTIN:- </strong><span id="userGstin"><%= user.gstin %></span></h4>
            <h5 id="userAddress"><%= user.address %></h5>
            <h5><span id="userCity"><%= user.city%></span>, <span id="userPin"><%= user.pin_code %></span></h5>
            <h5 id="userState"><%= user.state %></h5>
            <h5 id="userCountry"><%= user.country %></h5>
        </div>
        <div class="col-md-6">
            <br>
            <div class="row">
                <strong class="col-md-2">Firm Name: </strong>
                <div class="form-group col-md-7">
                   <input type="text" class="form-control input-sm" id="recieverName" placeholder="Firm Name">
                </div>
            </div>
            <div class="row">
                <strong class="col-md-2">GSTIN</strong>
                <div class="form-group col-md-7">
                    <input type="text" class="form-control input-sm" id="recieverGSTIN" placeholder="GSTIN">
                </div>
            </div>
            <div class="row">
                <strong class="col-md-2">Address:</strong>
                <div class="form-group col-md-7">
                    <input type="text" class="form-control input-sm" id="recieverAddress" placeholder="Address">
                </div>
            </div>
            <div class="row">
                <strong class="col-md-2">City:</strong>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control input-sm" id="recieverCity" placeholder="City">
                </div>
                <strong class="col-md-2">Pin Code:</strong>
                <div class="form-group col-md-2">
                    <input type="text" class="form-control input-sm" id="recieverPin" placeholder="Pin Code">
                </div>
            </div>
            <div class="row">
                <strong class="col-md-2">State/UT:</strong>
                <div class="col-md-3">
                    <select name="state" id="recieverState" class="btn btn-sm form-control input-sm" onchange="billSelector()">
                        <% states.forEach( (state) => { %>
                        <option value="<%= state.name%>"><strong><%= state.name %></strong></option>
                        <% }) %>
                    </select>
                </div>
                <strong class="col-md-2">Country:</strong>
                <div class="col-md-2">
                    <input type="text" class="form-control input-sm" id="recieverCountry" value="INDIA" placeholder="Country" disabled="true">                    
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<div id="message"></div>

<div id="sgstTable">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <table class="table table-hover table-bordered" rules="all">
                <thead>
                    <tr class="bg-info">
                        <center>
                        <th class="text-center" rowspan="2">Sr</th>
                        <th class="text-center" rowspan="2">Description Of Goods</th>
                        <th class="text-center" rowspan="2">HSN</th>
                        <th class="text-center" rowspan="2">QTY</th>
                        <th class="text-center" rowspan="2">Unit</th>
                        <th class="text-center" rowspan="2">Rate per item (&#x20b9;)</th>
                        <th class="text-center" rowspan="2">Discount</th>
                        <th class="text-center" rowspan="2">Taxable Value</th>
                        <th class="text-center" colspan="2">CGST</th>
                        <th class="text-center" colspan="2">SGST</th>
                        <th class="text-center" rowspan="2" >Net Amount</th>
                        <th class="text-center" rowspan="2">Action</th>                                                   
                        </center>
                    </tr>
                    <tr class="bg-info">
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="sgstTableBody"></tbody>
            </table>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 bg-success">
                    <table class="space">
                        <tr class="totals">
                            <td><strong>Total Taxable Amount (&#x20b9;) :</strong></td>
                            <td><input type="text" id="sgstTotalTaxable" class="btn btn-default" disabled></td>
                        </tr>
                        <tr class="totals">
                            <td><strong>Total Tax (&#x20b9;) :</strong></td>
                            <td><input type="text" id="sgstTotalTax" class="btn btn-default" disabled></td>
                        </tr>
                        <tr class="totals">
                            <td><strong>Invoice Total (&#x20b9;) :</strong></td>
                            <td><input type="text" id="sgstInvoiceTotal" class="btn btn-default" disabled></td>                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" onclick="addSgstItem()">Add Item</button>
            <button class="btn btn-success" id="sgstSubmit" onclick="generateSgstBill()" style="margin-top: 1.5em;" disabled>Submit</button>          
        </div>    
    </div>
</div>
</div>

<div id="igstTable">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <table class="table table-hover table-bordered" rules="all">
                <thead>
                    <tr class="bg-info">
                        <center>
                        <th class="text-center" rowspan="2">Sr</th>
                        <th class="text-center" rowspan="2">Description Of Goods</th>
                        <th class="text-center" rowspan="2">HSN</th>
                        <th class="text-center" rowspan="2">QTY</th>
                        <th class="text-center" rowspan="2">Unit</th>
                        <th class="text-center" rowspan="2">Rate per item (&#x20b9;)</th>
                        <th class="text-center" rowspan="2">Discount</th>
                        <th class="text-center" rowspan="2">Taxable Value</th>
                        <th class="text-center" colspan="2">IGST</th>
                        <th class="text-center" rowspan="2" colspan="4">Net Amount</th>
                        <th class="text-center" rowspan="2">Action</th>                                                                           
                        </center>
                    </tr>
                    <tr class="bg-info">
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="igstTableBody"></tbody>
            </table>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4 bg-success">
                    <table class="space">
                        <tr class="totals">
                            <td><strong>Total Taxable Amount (&#x20b9;) :</strong></td>
                            <td><input type="text" id="igstTotalTaxable" class="btn btn-default" disabled></td>
                        </tr>
                        <tr class="totals">
                            <td><strong>Total Tax (&#x20b9;) :</strong></td>
                            <td><input type="text" id="igstTotalTax" class="btn btn-default" disabled></td>
                        </tr>
                        <tr class="totals">
                            <td><strong>Invoice Total (&#x20b9;) :</strong></td>
                            <td><input type="text" id="igstInvoiceTotal" class="btn btn-default" disabled></td>                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" onclick="addIgstItem()">Add Item</button>
            <button disabled="disabled" id="igstSubmit" class="btn btn-success" style="margin-top: 1.5em;" onclick="generateIgstBill()">Submit</button>
        </div>    
    </div>
</div>
</div>
<script src="/js/jquery/dist/jquery.min.js"></script>
<script src="/js/billing.js"></script>

<% include ../partials/footer.ejs %>