<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FreeAgent Invoice Devkit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/invoice/base.css" rel="stylesheet" type="text/css" />



    <!-- NOTHING IN THIS FILE SHOULD BE EDITED EXCEPT THESE PATHS TO YOUR THEME STYLESHEETS  -->

    <link href="/stylesheets/invoice/bauhaus.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/invoice/bauhaus_print.css" media="print" rel="stylesheet" type="text/css" />

    <!-- NOTHING IN THIS FILE SHOULD BE EDITED EXCEPT THESE PATHS TO YOUR THEME STYLESHEETS  -->
    <style>
      .pagestyle {
        width: 1000px;
      }
      table {
      border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid black;
      }
    </style>


  </head>
  <body>
    <div id="invoice" class="pagestyle">
      <div id="invoice-header">
        <!-- <img alt="Mainlogo_large" class="logo screen" src="images/freeagent_logo.png" /> -->
        <div class="vcard" id="company-address">
          <div class="fn org">
            <strong>
              Bill From:-
            </strong>
          </div>
          <div class="senderFirmName">
              <strong><%= bill.sender.firmName %></strong>
          </div>
          <div class="adr">
            <div class="street-address">
              <%= bill.sender.address %>
            </div>
            <div id="company-postcode">
                <span class="senderCity"> <%= bill.sender.city %></span>,<span class="postal-code"><%= bill.sender.pincode %></span>
            </div>
            <div class="senderState"><%= bill.sender.state %></div>
            <div class="senderCountry"><%= bill.sender.country %></div>            
          </div>
          <div class="senderEmail">
            <%= bill.sender.email %>
          </div>
          <div id="senderPhone">
            <%= bill.sender.phone %>
          </div>
          <div id="senderGSTIN">
            <%= bill.sender.gstin %>
          </div>
        </div>
      </div>

      <div id="invoice-info">
        <h2>
          Invoice <strong><%= bill.invoice.number %></strong>
        </h2>
        <h3>
          <%= bill.invoice.date %>
        </h3>
        <p id="payment-due">Payment due by 18 February 2016</p>
	      <p id="payment-total">&pound;2643.75</p>
       </div>

       <div class="vcard" id="client-details">
         <strong>Bill To:-</strong>
         <div class="fn">
           <strong><%= bill.reciever.firmName %></strong>
         </div>
         <div class="adr">
           <div class="street-address">
             <%= bill.reciever.address %>
           </div>
           <div id="client-postcode"><span><%= bill.reciever.city %></span>,<span class="postal-code"><%= bill.reciever.pincode %></span></div>
           <div class="state"><%= bill.reciever.state %></div>
           <div id="recieverGSTIN"><%= bill.reciever.gstin %></div>
           <div id="recieverPhone"><%= bill.reciever.phone %></div>
         </div>
       </div>

       <table id="invoice-amount">
         <thead>
           <tr id="header_row">
            <th rowspan="2">Sr</th>
            <th rowspan="2">Description Of Goods</th>
            <th rowspan="2">HSN</th>
            <th rowspan="2">QTY</th>
            <th rowspan="2">Unit</th>
            <th rowspan="2">Rate per item (&#x20b9;)</th>
            <th rowspan="2">Discount</th>
            <th rowspan="2">Taxable Value</th>
            <th colspan="2">CGST</th>
            <th colspan="2">SGST</th>
            <th rowspan="2" >Net Amount</th>
           </tr>
           <tr id="header_row">
            <th>Rate</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
         </thead>
         <tfoot>
           <tr id="discount_tr">
             <td colspan="10">&nbsp;</td>
             <td colspan="2" class="item_r"><strong>Total Taxable Amount(&#x20b9;)</strong></td>
             <td class="item_r"><%= bill.totalTaxableAmount.value %></td>
           </tr>
           <tr id="net_total_tr odd">
             <td colspan="10">&nbsp;</td>
             <td colspan="2" class="item_r"><strong>Total Tax(&#x20b9;)</strong></td>
             <td class="item_r"><%= bill.totalTax.value %></td>
           </tr>
           <tr id="total_tr">
             <td colspan="10">&nbsp;</td>
             <td colspan="2" class="total" id="total_currency"><span class="currency">INR(&#x20b9;)</span> Total</td>
             <td class="total"><%= bill.invoiceTotal.value %></td>
           </tr>
         </tfoot>
         <tbody>
          <% for(let i = 0; i < bill.items.length; i++) { %>
            <%
              let rowClass  = "";
              let hsn = ""; 
              if(i % 2 == 0) {
                rowClass = "list";
              } else {
                rowClass = "list odd";
              }
              if( bill.items[i].hsn == null){
                hsn = "---";
              } else {
                hsn = bill.items[i].hsn;
              }
            %>
            <tr class="<%= rowClass %>">
              <td><%= bill.items[i].sr %></td>
              <td><%= bill.items[i].description %></td>

              <td><%= hsn %></td>
              <td><%= bill.items[i].quantity %></td>
              <td><%= bill.items[i].unit %></td>
              <td class="item_r"><%= bill.items[i].ratePerItem.value %></td>
              <td class="item_r"><%= bill.items[i].discount.value %></td>
              <td class="item_r"><%= bill.items[i].taxableValue.value %></td>
              <td class="item_r"><%= bill.items[i].cgstRate.value %></td>
              <td class="item_r"><%= bill.items[i].cgstAmount.value %></td>
              <td class="item_r"><%= bill.items[i].sgstRate.value %></td>
              <td class="item_r"><%= bill.items[i].sgstAmount.value %></td>
              <td class="item_r"><%= bill.items[i].netAmount.value %></td>              
            </tr>
          <% } %>
         </tbody>
       </table>

       <div id="invoice-other">
         <h2>Signature</h2>
         <div id="contract-number"><strong> (<%= bill.sender.firmName %>)</strong></div>
       </div>

     </div>

   </body>
</html>
